/* ----------- Global Section ------------ */

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Poppins', sans-serif;
}

img {
  font-size: 3px;
}

h4 {
  font-size: 12px;
}

p {
  font-size: 12px;
}

footer {
  margin-top: 200px;
  height: 250px;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact {
  margin-left: 350px;
  margin-right: 350px;
}

.contact2 {
  padding-top: 45px;
  font-size: 10px;
}

/* ------------- Header Section ------------ */

header {
  /* border: solid red 3px; */
  width: 100vw;
  height: 125px;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  background-color: #FEFEFE;
}

.left-side-wrapper {
  /* border: dotted blue 2px; */
  width: 80%;
  display: flex;
  align-items: flex-end;
}

nav {
  /* border: solid pink 2px; */
  width: 55%;
  margin-bottom: 10px;
  margin-left: 5px;
}

.nav-img {
  height: 25px;
  width: 25px;
  margin: 10px 5px 10px 5px;
  padding: 0px 12px 5px 2px;
}

.nav-img-home {
  height: 26px;
  width: 55px;
  margin: 10px;
  padding: 0px 12px 5px 2px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
}


li {
  /* border: dotted red 2px; */
  font-size: 16px;
  color: #242424;
  display: flex;
  align-items: center;
  transition: all 0.5s ease;
}

li:hover {
  font-size: 19px;;
}

.right-side-wrapper {
  /* border: solid yellow 2px; */
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.username-wrapper {
  /* border: solid blue 3px; */
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
}

.username {
  font-size: 10px;
}

.username-pic {
  height: 15px;
  width: 15px;
  padding: 0px 8px 5px 8px;
}

.username-triangle {
  height: 15px;
  width: 15px;
  padding: 0px 8px 0px 8px;
}

.logo {
  /* border: dotted purple 2px; */
  margin-bottom: 15px;
  margin-top: 10px;
  height: 85px;
  width: 100px;
  transition: all 0.5s ease;
}

.logo:hover {
  margin-top: 10px;
  height: 95px;
  width: 106px;
}

/*  -------------- Main Section ------------- */

main {
  /* border: solid green 3px; */
  background-color: #FEFEFE;
  height: 100%;
}

.title-box {
  height: 70px;
  display: flex;
  align-items: center;
}

h1 {
  margin-left: 14px;
  font-size: 25px;
  color: #242424;
}

.cards-display {
  /* border: solid orange 5px; */
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}

/* ------------- Card Styles --------------- */

.card-wrapper {
  /* border: solid blue 3px; */
  width: 345px;
  height: 420px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  border-radius: 0px;
  box-shadow:  -1.75px 1.75px 8px #DEE9E6,
               1.75px -1.75px 8px #FEFEFE;
  transition: all 0.5s ease;
 }

.card-top {
  height: 194px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card-vec {
  /* border: dotted green 1px; */
  height: 25px;
  width: 25px;
  margin: 10px 0px 15px 5px;
  padding: 0px 12px 5px 2px;
  transition: all 0.25s ease;
}

.card-vec:hover {
  height: 30px;
  width: 30px;
}

.listeners-wrapper {
  /* border: dotted blue 3px; */
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}

.card-bottom {
  /* border: dotted green 1px; */
  height: 265px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-info-wrapper {
  padding: 0;
  margin: 1px 10px 3px 10px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.colored-info-box {
  border-radius: 1px;
  padding: 6px 9px 10px 9px;
  background-color: #BEBFC0;
  overflow-x: scroll;
}

/* ------ Individual Images for Cards -------- */

.card1 {
  background-image: url("./assets/Rapper1.jpg");
  background-size: 345px 186px;
}

.card2 {
  background-image: url("./assets/SaxGuy.jpg");
  background-size: 345px 186px;
}

.card3 {
  background-image: url("./assets/AcousticGirl.jpg");
  background-size: 345px 186px;
}

.card4 {
  background-image: url("./assets/SunsetBand.jpg");
  background-size: 345px 186px;
}

.card5 {
  background-image: url("./assets/ElectroDuo.jpg");
  background-size: 345px 186px;
}

.card6 {
  background-image: url("./assets/AcousticGuy.jpg");
  background-size: 345px 186px;
}

.card7 {
  background-image: url("./assets/GuitarChick.jpg");
  background-size: 345px 186px;
}

.card8 {
  background-image: url("./assets/bongoDude.jpg");
  background-size: 345px 186px;
}

/* ------------ Media Queries -------------- */

@media screen and (max-width: 900px) {
  nav {
    width: 100%;
    margin-left: 0;
  }

  .left-side-wrapper {
    /* border: dotted blue 2px; */
    width: 80%;
    display: flex;
    align-items: flex-end;
  }
}

@media screen and (max-width: 550px) {

  li {
    margin: 10px 10px 10px 10px;
  }

  nav {
    margin-left: 3px;
  }

  .nav-img {
    height: 15px;
    width: 15px;
    margin-right: 5px;
    padding: 0px;
  }

  .nav-img-home {
    height: 15px;
    width: 30px;
    padding: 0px;
  }

  .logo {
    height: 60px;
    width: 65px;
  }

  .username {
    font-size: 10px;
  }

  .username-pic {
    height: 11px;
    width: 11px;
    padding: 0px 8px 5px 8px;
  }

  .username-triangle {
    height: 11px;
    width: 11px;
    padding: 0px 8px 0px 8px;
  }

  header {
    height: 50%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .left-side-wrapper {
    /* border: dotted blue 2px; */
    width: 100%;
    display: flex;
    align-items: flex-end;
  }
}
