* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body{
  margin: 0;
  padding: 0;
}

img {
  font-size: 3px;
}
/* Header Section */

header {
  border: solid red 3px;
  height: 100px;
  display: flex;
  justify-content: space-between;
}

.left-side-wrapper {
  /* border: dotted blue 2px; */
  width: 80%;
  display: flex;
  align-items: flex-end;
}

nav {
  /* border: solid pink 2px; */
  width: 64%;
  margin-bottom: 10px;
  margin-left: 5px;
}
.nav-img {
  margin: 5px;
}

ul {
  list-style: none;
  display: flex;
  justify-content: space-between;

}

li {
  /* border: dotted red 2px; */
  font-size: 12px;
  display: flex;
  align-items: center;
}

.right-side-wrapper {
  border: solid yellow 2px;
  width: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.username-wrapper {
  /* border: solid blue 3px; */
  margin-top: 5px;
  display: flex;
  justify-content: space-around;
}

.username {
  font-size: 10px;
}

.username-pic {

}

.username-triangle {

}

.logo {
  border: dotted purple 2px;
  margin-bottom: 15px;
}

/* Main Section */

main {
  border: solid green 3px;
  height: 100%;
}

.title-box {
  /* border: solid 3px; */
  height: 50px;
  display: flex;
  align-items: center;
}

h1 {
  margin-left: 14px;
}

.cards-display {
  border: solid orange 5px;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}

/* Card Styles */

.card-wrapper {
  border: solid blue 3px;
  width: 330px;
  height: 400px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
 }

.card-top {
  border: solid red 1px;
  height: 140px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.card-vec {
  border: dotted green 1px;
  margin: 5px;
}

.listeners-wrapper {
  border: dotted blue 3px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-bottom {
  /* border: dotted green 1px; */
  height: 265px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-info-wrapper {
  border: solid 1px;
  padding: 0;
  margin: 0px 10px 3px 10px;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.colored-info-box {
  padding: 6px 7px 10px 7px;
  background-color: gray;
  opacity: .65;
  overflow-x: scroll;
}
